#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=-format
export DEB_CFLAGS_MAINT_STRIP = -ffile-prefix-map=$(CURDIR)=.
export DEB_CFLAGS_MAINT_APPEND = -Wno-error

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=/usr \
		--libdir=/usr/lib/x86_64-linux-gnu \
		--libexecdir=/usr/lib/x86_64-linux-gnu/gnome-pilot \
		--enable-tray \
		--disable-eds-conduits \
		--enable-usb \
		--enable-network
	touch po/stamp-it

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	find debian/gnome-pilot -name '*.la' -delete
